<header class="py-10 bg-blue-200 text-black text-5xl font-caveat text-center"> Sign up </header>

<%= render partial: 'layouts/errors', locals: {object: @user}  %>


<%= form_for(@user) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.submit "Sign up" %>

    <% end %>
        <div class="py-5 px-8 bg-pink-200">
        <div class="text-center">
          <header class="rounded-t-lg font-bold text-2xl py-5 px-8">Sign up as a member</header>
        </div>
          <div class="text-center">
           <content> - Access to AutKonnect Community - RSVP events and sensory friendly days and times and view other RSVPS. - Engage with other members of the community - See other member Reviews - Have direct contact to businesses and venders</content>
          </div>
        </div>
        </div>
        <br><br>
        <div class="py-5 px-8 bg-pink-200">
        <div class="text-center">
          <header class="rounded-t-lg font-bold text-2xl py-5 px-8">Sign up as a business or event </header>
        </div>
          <div class="text-center">
           <content> - Access to AutKonnect Community - View RSVPs to your events - Post sensory friendly dates and times of your establishment - Post special events hosted by your business - Engage with members of the community </content>
          </div>
        </div>
        </div>