<%= render partial: 'layouts/errors', locals: {object: @rsvp}  %>

<%= form_for(@rsvp) do |f| %>
  <% if params[:event_id] %>
  <%= f.hidden_field :event_id %>
  <% else %>
    <div>
 <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "RSVP", class: "btn btn-default" %>
  </div>
<% end %>
  <div>
 
  </div>
  
  <%= f.submit %>
    <% end %>