<%= render partial: 'layouts/errors', locals: {object: @rsvp}  %>

<%= form_for(@rsvp) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% if params[:event_id] %>
  <%= f.hidden_field :event_id %>
  <% else %>
    <div>
    <%= f.label :event_id, "Please choose an event" %>
    <%= f.collection_select :event_id, Event.alpha, :id, :name_and_business, include_blank: true %>
  </div>
<% end %>
  <br>
  <%= f.submit "RSVP", class: "btn btn-default" %>
    <% end %>